Source: mktechdocs
Section: text
Priority: optional
Maintainer: Joseph Spencer Seidel <jsseidel@fastmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://att.github.io/MkTechDocs/

Package: mktechdocs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pip, graphviz, plantuml, texlive-xetex, ghostscript, pandoc (>=1.19), gradle (>=3.0), groovy (>=2.4)
Description: MkTechDocs is an open framework for collating and transforming markdown.
 MkTechDocs is an open framework for collating and transforming markdown. You
 can use it to manage complex technical documentation projects with
 dependencies, produce light documentation, or combine and transform existing
 Markdown files into a styled webpage or PDF document.
 + 100% open source
 + No proprietary, hard-to-read, or hard-to-learn input formats or configuration syntaxes
 + Standardized to Markdown with Pandoc extensions, which is easy to learn and convertible into many other formats
 + Shallow learning curve
 + Builds CSS-styled HTML, PDF, Microsoft Word, and markdown documents from the same source documentation
 + Encourages modular document design
 + Flexible and extensible
 + Projects ideally suited for storing in git repositories, which means documentation work can be distributed like source code
 + Python and Groovy/Java hooks provide easy access to pre-existing code libraries
 + Jinja2 and Groovy template support is baked in for more complex documentation needs Pandodc templates can be customized on a per-project basis
 + Agile and continuous-integration friendly

